.logo{
    display: block;
    margin: auto;
    width: 110px; 
    height: 90px;
}
h2{
    margin-top: 10px;
    text-align: center;
    font-style: italic;
    font-family: fangsong;
}
.container{
    max-width: 1000px;
    background-color:rgb(230, 207, 176);
    margin: auto;
    height: 60vh;
    overflow-y: auto;
    border: 2px solid black;
    padding: 20px;

}
.message{
    background-color: aqua;
    width: 25%;
    padding: 10px;
    margin: 18px 5px;
    border: 2px solid black;
    border-radius: 10px;
}
.left{
    float: left;
    clear: both;
}
.right{
    float: right;
    clear: both;

}
#send-container{
    display: block;
    margin: auto;
    text-align: center;
    max-width: 950px;
}
#messageInp{
    width: 80%;
    height: 30px;
    margin: 9px;
    border: 2px solid black;
    border-radius: 5px;
    background-color:aliceblue;
    font-style: oblique;
    font-size: 16px;
}
.btn{
    width: 9%;
    cursor: pointer;
    border: 2px solid black;
    border-radius: 5px;
    height: 30px;
    background-color: blanchedalmond;
}
