.logo{
    display: block;
    margin: auto;
    width: 180px; 
    height: 150px;
}
.container{
    max-width: 1000px;
    background-color:antiquewhite;
    margin: auto;
    height: 60vh;
    overflow-y: auto;
    border: 2px solid black;
    padding: 20px;

}
.message{
    background-color: aqua;
    width: 25%;
    padding: 10px;
    margin: 18px 5px;
    border: 2px solid black;
    border-radius: 10px;
}
.left{
    float: left;
    clear: both;
}
.right{
    float: right;
    clear: both;

}
#send-container{
    display: block;
    margin: auto;
    text-align: center;
    max-width: 950px;
}
#messageInp{
    width: 92%;
    height: 30px;
    margin: 9px;
    border: 2px solid black;
    border-radius: 5px;
    background-color:aliceblue;
}
.btn{
    cursor: pointer;
    border: 2px solid black;
    border-radius: 5px;
    height: 35px;
    background-color: blanchedalmond;
}
